export(LSbinaryclassificationInternal)
export(LSbinaryclassification)
export(LSbinomialestimationInternal)
export(LSbinomialestimation)
export(LSbinomialtestingInternal)
export(LSbinomialtesting)
export(LSgameofchanceInternal)
export(LSgameofchance)
export(LSgameofskillInternal)
export(LSgameofskill)
export(LSBuffonsneedlesimulationInternal)
export(LSBuffonsneedlesimulation)
export(LSBuffonsneedlemanipulationInternal)
export(LSBuffonsneedlemanipulation)
