export(LSbinaryclassification)
export(LSbinomialestimation)
export(LSbinomialtesting)
export(LSgameofchance)
export(LSgameofskill)
export(LSBuffonsneedlesimulation)
export(LSBuffonsneedlemanipulation)