export(LSbinomialestimation)
export(LSbinomialtesting)
export(LSgaussianestimation)
export(LSgaussiantesting)
export(LSgameofchance)
export(LSgameofskills)
  import('MGLM');
  import('HDInterval');
  import('DT');
  import('MCMCpack');
